#list-container {
  display: flex;
  margin-top: 6%;
  margin-bottom: 2%;
  margin-left: 6%;
  margin-right: 6%;
  // background-color: white;
}

#task-table {
  padding-bottom: 50px;
}

.mat-grid-tile {
  flex: 1 1 auto;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
}
