.card.card-container {
  padding-top: 30vh;
  border: none;
  display: flex;
  align-items: center;
  display: flex;
}

.register-form {
  width: 30%;
}

.col-md-12 {
  background: var(--mat-toolbar-container-background-color);
  height: 100vh;
}

.card {
  height: 100vh;
  background-color: var(--mat-toolbar-container-background-color);
  color: white;
}
