<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@500&display=swap"
  rel="stylesheet"
/>

<mat-card #check class="project__container">
  <div class="header">
    <mat-form-field class="header__title" appearance="outline" color="warn">
      <input
        matInput
        type="text"
        [(ngModel)]="projectTitle"
        (keyup.enter)="updateProjectTitleOnEnter()"
      />
    </mat-form-field>
    <div class="header__btn">
      <button mat-raised-button color="accent" (click)="addTask()">
        Add Task
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="deleteProject(project.id)"
      >
        Delete
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-container
      [matColumnDef]="column.key"
      *ngFor="let column of columnTable"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ column.label }}
      </th>
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="column.type" *ngIf="!element.isEdit">
          <div *ngSwitchCase="'isEdit'">
            <button
              mat-raised-button
              color="accent"
              (click)="element.isEdit = !element.isEdit"
            >
              Edit
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteTask(element.id)"
            >
              Delete
            </button>
          </div>
          <span *ngSwitchDefault>
            {{ element[column.key] }}
          </span>
        </div>
        <div [ngSwitch]="column.type" *ngIf="element.isEdit">
          <div *ngSwitchCase="'isEdit'">
            <button
              class="btn--done"
              mat-raised-button
              color="accent"
              (click)="element.isEdit = !element.isEdit"
            >
              Done
            </button>
          </div>
          <mat-form-field
            appearance="outline"
            color="warn"
            *ngSwitchCase="'dropdown'"
          >
            <mat-select [(ngModel)]="element[column.key]">
              <mat-option
                *ngFor="let option of column.options"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" color="warn" *ngSwitchDefault>
            <input
              [type]="column.type"
              matInput
              [(ngModel)]="element[column.key]"
            />
          </mat-form-field>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
