#project-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

#project {
  padding-top: 3vh;
  padding-bottom: 5vh;
}
