<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@300;500&display=swap"
  rel="stylesheet"
/>

<mat-toolbar class="top-bar">
  <div id="top-bar__welcome">
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/project-container" routerLinkActive="active"
      >Project Container</a
    >
  </div>
  <div id="top-bar__title">Task Manager</div>
  <div id="top-bar__btn">
    <button type="button" id="btn--add-project" (click)="addProject()">
      Add a project
    </button>
  </div>
</mat-toolbar>
