.top-bar {
  z-index: 2;
  position: fixed;
  display: flex;
  width: 100vw;
  box-shadow: 0 4px 10px;
  font-family: "Dancing Script", cursive;
}

#top-bar__welcome {
  z-index: 2;
  user-select: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  padding-top: 1vh;
  font-weight: 900;
  font-size: 1rem;
}

#top-bar__title {
  z-index: 2;
  user-select: none;
  width: 60vw;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

#top-bar__btn {
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  padding-top: 1vh;
}

.btn--top-bar {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  font-size: 2rem;
  color: white;
}

.btn--top-bar:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.15);
}
