<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@300;500&display=swap"
  rel="stylesheet"
/>

<mat-card class="homepage">
  <mat-card-content>
    <div class="logo-content">
      <div class="logo-content-welcome">Hi, Andrei</div>
      <div class="logo-content-title">Task Manager</div>
      <div class="logo-content-new-list">
        <button type="button" class="btn-new-list">
          <a class="plus-icon"></a>
          <a>Add a list</a>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
