.homepage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app-top-bar {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

.content {
  padding-top: 3%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
