.card.card-container {
  padding: 200px;
  border: none;
  display: flex;
  align-items: center;
  display: flex;
}

.login-form {
  width: 30%;
}

.col-md-12 {
  background: var(--mat-toolbar-container-background-color);
}

.card {
  height: 94vb;
  background-color: var(--mat-toolbar-container-background-color);
  color: white;
}
