<div #check class="list-item-container">
  <div class="task-table-header">
    <mat-form-field class="list-item-title">
      <input matInput type="text" [(ngModel)]="listContainerTitle" />
    </mat-form-field>
    <button mat-raised-button class="task-table-button">DELETE LIST</button>
    <button mat-raised-button class="task-table-button">ADD TASK</button>
  </div>
  <mat-table class="task-table" [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>no.</mat-header-cell>
      <mat-cell *matCellDef="let task">{{ task.position }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let task">{{ task.title }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let task">{{ task.description }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
      <mat-cell *matCellDef="let task">{{ task.priority }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let task">{{ task.status }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
