.list-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // background-color: rgb(190, 190, 190);
  //color: white;
  width: 50%;
}

.list-item-title {
  color: rgb(0, 0, 0);
}

.task-table {
  background-color: rgb(34, 31, 31);
  color: white;
}

.mat-column-position {
  color: white;
}
.mat-column-title {
  color: white;
}
.mat-column-description {
  color: white;
}
.mat-column-priority {
  color: white;
}
.mat-column-status {
  color: white;
}
